* { box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #BEC6C9;
  margin: 0;
  padding: 0;
}

body, input, nav a {
  font-family: 'Inconsolata', courier new, courier;
  font-size: 17px;
  line-height: 1.2;/*
  letter-spacing: 1px;*/
  -webkit-font-smoothing: antialiased;
}

a { text-decoration: none; color: black; }
a:active { color: #BEC6C9; }
a img { border: none; background: none; }
a:visited { color: black; }

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

iframe {
  border: 0;
}


/* LINK DUMP */

@-webkit-keyframes marquee {

 0% { left: 0; }

 100% { left: -100%; } }

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.dump-rules {
  padding: 10px 0 11px;
  border-bottom: 1px solid black;
}

/*.dump-rules {
  overflow: hidden;
  position: relative;
  height: 50px;
  width: 100%;
  padding: 10px 0 11px;
  border-bottom: 1px solid black;
}

.dump-rules div {
  display: block;
  width: 200%;
  height: 54px;
  position: absolute;
  overflow: hidden;
  -webkit-animation: marquee 10s linear infinite;
          animation: marquee 10s linear infinite;
}

.dump-rules span {
  float: left;
  width: 50%;
}*/

.auth-links {
  position: fixed;
  bottom: -1px;
  left: 0;
  right: 0;
  border-top: 1px solid black;
  top: auto;
  text-align: center;
  text-transform: uppercase;
  z-index: 11;
  background: #BEC6C9;
  padding: 18px;
}

.auth-links span {
  display: inline-block;
}

.auth-links a.login-link {
  color: black;
}

.overlay {
  background: none;
}

.overlay-inner {
}

.ld-form-avatar-editor {
  background: #BEC6C9;
  padding: 0;
}

.ld-form-avatar-editor span {
  padding-bottom: 16px;
  display: block;
}

.ld-form-error {
  padding-bottom: 16px;
  color: black;
}

.auth-form.ld-form {
  border-radius: 0;
}

.auth-form,
input {
  background: #BEC6C9;
  border: 1px solid black;
  border-radius: 0;
  transition: .1s background ease-out;
  -webkit-transition: .1s background ease-out;
  -moz-transition: .1s background ease-out;
  -o-transition: .1s background ease-out;
}

::-webkit-input-placeholder {
  color: black;
}

.ld-form input[type=submit] {
  cursor: pointer;
  text-transform: uppercase;
  margin: 0;
  border-radius: 0;
  padding: 18px 30px;
  margin-top: 20px;
}

.ld-form input[type=submit]:hover {
  background: #FDEE2F;
}

.ld-form-field-set {
  margin-bottom: 5px;
}

.ld-form-submit-container {
  text-align: left;
}

a.signup-link,
a.login-link,
a.logout-link,
#credit a {
  text-decoration: none;
  border-bottom: 0;
  background: url('../images/moving-underline.gif') repeat-x;
  background-position: 0 100%;
  color: black;
  transition: .1s background ease-out;
  -webkit-transition: .1s background ease-out;
  -moz-transition: .1s background ease-out;
  -o-transition: .1s background ease-out;
}

a.signup-link:hover,
a.login-link:hover,
a.logout-link:hover,
#credit a:hover {
  background:#FDEE2F url('../images/moving-underline.gif') repeat-x;
  background-position: 0 100%;
}

a.signup-link.is-active,
a.login-link.is-active {
  background: none;
}

.auth-form-link.is-active, .auth-form-link:hover {
  text-decoration: none;
}

.link-stub-username {
  display: none;
}

.ld-form-close {
  display: none;
}

.ld-form-label {
  text-transform: uppercase;
}

.link-list {
  border: none;
  margin-bottom: 54px;
}

.link-stub-avatar {
  position: absolute;
  z-index: 7;
  left: 16px;
  top: 18px;
}

.link-stub-avatar img {
  height: 16px;
  width: 16px;
  margin-top: 2px;
  border: 0;
}

.link-stub {
  padding: 26px;
  position: relative;
}

.link-stub a {
  display: block;
  background: #BEC6C9;
  padding: 16px;
  padding-left: 46px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid black;
  text-decoration: none !important;
  transition: .1s background ease-out;
  -webkit-transition: .1s background ease-out;
  -moz-transition: .1s background ease-out;
  -o-transition: .1s background ease-out;
  white-space: nowrap;
  overflow: hidden;
}

@-webkit-keyframes pulse_pleasant {
    0% { background: #FDEE2F; }
    50% { background: #BEC6C9; }
    100% { background: #FDEE2F; }
}

.link-stub a:hover {
  background: #FDEE2F;
  -webkit-animation: pulse_pleasant 1.2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.app-header {
  min-height: 0;
}

.link-group-date {
  padding: 16px;
}

.add-link-form-add-button {
  border: 1px solid black;
  border-radius: 0;
  color: black;
  padding: 18px 26px;
  text-transform: uppercase;
  transition: .1s background ease-out;
  -webkit-transition: .1s background ease-out;
  -moz-transition: .1s background ease-out;
  -o-transition: .1s background ease-out;
}

.add-link-form-add-button:hover {
  background: #FDEE2F;
}

.add-link-form input {
  padding: 18px 26px;
  margin-right: 10px;
}

#credit {
  position: fixed;
  right: 18px;
  bottom: 18px;
  z-index: 47;
}


/* MEDIA QUERIES */

@media screen and (max-width: 480px) {

  iframe {
    height: 175px !important;
  }

  .dump-rules {
    margin-bottom: 5px;
  }

  .auth-links {
    position: relative;
    border: 0;
    border-bottom: 1px solid black;
    margin-top: -6px;
  }

  .link-list {
    margin-top: 0;
  }

}