div.leftnav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	float: left;
	width: 120px;
	opacity: 0.0;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.3) 10%, rgba(0,0,0,0.2) 23%, rgba(0,0,0,0.1) 40%, rgba(0,0,0,0.05) 57%, rgba(0,0,0,0) 94%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.4)), color-stop(10%,rgba(0,0,0,0.3)), color-stop(23%,rgba(0,0,0,0.2)), color-stop(40%,rgba(0,0,0,0.1)), color-stop(57%,rgba(0,0,0,0.05)), color-stop(94%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.3) 10%,rgba(0,0,0,0.2) 23%,rgba(0,0,0,0.1) 40%,rgba(0,0,0,0.05) 57%,rgba(0,0,0,0) 94%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.3) 10%,rgba(0,0,0,0.2) 23%,rgba(0,0,0,0.1) 40%,rgba(0,0,0,0.05) 57%,rgba(0,0,0,0) 94%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.3) 10%,rgba(0,0,0,0.2) 23%,rgba(0,0,0,0.1) 40%,rgba(0,0,0,0.05) 57%,rgba(0,0,0,0) 94%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.3) 10%,rgba(0,0,0,0.2) 23%,rgba(0,0,0,0.1) 40%,rgba(0,0,0,0.05) 57%,rgba(0,0,0,0) 94%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
	transition: opacity 0.3s;
	border: none;
	margin: 0;
}
div.whiteleft{
	background: -moz-linear-gradient(left,  rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.3) 10%, rgba(255,255,255,0.2) 23%, rgba(255,255,255,0.1) 40%, rgba(255,255,255,0.05) 57%, rgba(255,255,255,0) 94%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.4)), color-stop(10%,rgba(255,255,255,0.3)), color-stop(23%,rgba(255,255,255,0.2)), color-stop(40%,rgba(255,255,255,0.1)), color-stop(57%,rgba(255,255,255,0.05)), color-stop(94%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.3) 10%,rgba(255,255,255,0.2) 23%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0.05) 57%,rgba(255,255,255,0) 94%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.3) 10%,rgba(255,255,255,0.2) 23%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0.05) 57%,rgba(255,255,255,0) 94%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.3) 10%,rgba(255,255,255,0.2) 23%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0.05) 57%,rgba(255,255,255,0) 94%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.3) 10%,rgba(255,255,255,0.2) 23%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0.05) 57%,rgba(255,255,255,0) 94%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}
div.leftnav:hover {
	opacity: 1;
}
div.rightnav {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	float: right;
	width: 120px;
	opacity: 0.0;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 6%, rgba(0,0,0,0.05) 43%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.2) 77%, rgba(0,0,0,0.3) 90%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(6%,rgba(0,0,0,0)), color-stop(43%,rgba(0,0,0,0.05)), color-stop(60%,rgba(0,0,0,0.1)), color-stop(77%,rgba(0,0,0,0.2)), color-stop(90%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 6%,rgba(0,0,0,0.05) 43%,rgba(0,0,0,0.1) 60%,rgba(0,0,0,0.2) 77%,rgba(0,0,0,0.3) 90%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 6%,rgba(0,0,0,0.05) 43%,rgba(0,0,0,0.1) 60%,rgba(0,0,0,0.2) 77%,rgba(0,0,0,0.3) 90%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 6%,rgba(0,0,0,0.05) 43%,rgba(0,0,0,0.1) 60%,rgba(0,0,0,0.2) 77%,rgba(0,0,0,0.3) 90%,rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 6%,rgba(0,0,0,0.05) 43%,rgba(0,0,0,0.1) 60%,rgba(0,0,0,0.2) 77%,rgba(0,0,0,0.3) 90%,rgba(0,0,0,0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=1 ); /* IE6-9 */
	transition: opacity 0.3s;
	border: none;
	margin: 0;
}
div.whiteright{
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 6%, rgba(255,255,255,0.05) 43%, rgba(255,255,255,0.1) 60%, rgba(255,255,255,0.2) 77%, rgba(255,255,255,0.3) 90%, rgba(255,255,255,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(6%,rgba(255,255,255,0)), color-stop(43%,rgba(255,255,255,0.05)), color-stop(60%,rgba(255,255,255,0.1)), color-stop(77%,rgba(255,255,255,0.2)), color-stop(90%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 6%,rgba(255,255,255,0.05) 43%,rgba(255,255,255,0.1) 60%,rgba(255,255,255,0.2) 77%,rgba(255,255,255,0.3) 90%,rgba(255,255,255,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 6%,rgba(255,255,255,0.05) 43%,rgba(255,255,255,0.1) 60%,rgba(255,255,255,0.2) 77%,rgba(255,255,255,0.3) 90%,rgba(255,255,255,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 6%,rgba(255,255,255,0.05) 43%,rgba(255,255,255,0.1) 60%,rgba(255,255,255,0.2) 77%,rgba(255,255,255,0.3) 90%,rgba(255,255,255,0.4) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 6%,rgba(255,255,255,0.05) 43%,rgba(255,255,255,0.1) 60%,rgba(255,255,255,0.2) 77%,rgba(255,255,255,0.3) 90%,rgba(255,255,255,0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=1 ); /* IE6-9 */
}
div.rightnav:hover {
	opacity: 1;
}