body {
	font-family: Arial;
	text-align: center;
}
p.b {
	letter-spacing: 1px;
}
p.c {
	letter-spacing: 2px;
}
p.d {
	letter-spacing: 4px;
}
p.e {
	letter-spacing: 7px;
}
p.f {
	letter-spacing: 11px;
}
p.g {
	letter-spacing: 16px;
}
p.h {
	letter-spacing: 22px;
}
p.i {
	letter-spacing: 27px;
}
p.j {
	letter-spacing: 22px;
}
p.k {
	letter-spacing: 16px;
}
p.l {
	letter-spacing: 11px;
}
p.m {
	letter-spacing: 7px;
}
p.n {
	letter-spacing: 4px;
}
p.o {
	letter-spacing: 2px;
}
p.p {
	letter-spacing: 1px;
}
p.q {

}