
body {
  margin: 0 100px;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  font-size: 120px;
  background-color: black;
	}
p {
  margin: 10px;
}

span {
  color: hsla(0,0%,0%,0);
  text-shadow: #fff 0 0 60px;
  transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
	}
	@-moz-document url-prefix() { .txt { text-shadow: #fff 0 0 20px; } } /* FF fix */

span:hover {
		text-shadow: #fff 0 0 5px;
		transition: text-shadow 1s cubic-bezier(0, 0.75, 0, 1);
}

