    a:link {color:black;}      
a:visited {color:black;} 
a:hover {color:#FFFF99;}  
a:active {color:#FFFF99;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}
a:link {background-color:white;}
a:active {background-color:#FFFF99;}
    
   }

body
{
background-color:#00000;
font-family: helvetica;


font-size:100px;
line-height:90px;
letter-spacing:10px
}
h1
{
background-color:#FFFFFF;
font-family: helvetica;
font-size: 500px;


}

h6
{
font-family: helvetica;
font-size: 100px;
text-transform:uppercase;
line-height:20px;
letter-spacing:200px
}
h2
{background-color:#FFFFFF;
font-family: helvetica;
font-size: 400px;
text-transform:uppercase;
line-height:20px;
}

h3
{background-color:#FFFFFF;
font-family: Monaco;
font-size: 42px;
text-transform:uppercase;
line-height:41px;
letter-spacing:100px
}

h4
{background-color:#FFFFFF;
font-family: helvetica;
font-size: 30px;
text-transform:uppercase;
line-height:41px;
letter-spacing:50px

} 

h5
{background-color:#FFFFFF;
font-family: times;
font-size: 20px;
text-transform:uppercase;
line-height:41px;
letter-spacing:10px
}
p
{
background-color:#FFFFFF;
font-family: helvetica;
font-size: 12px;
}
  
  
    p { line-height: 200%; }
    
    